<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <!-- database connectivity -->
    <add key="DataManagerCommandTimeout" value="90"/>
    <!--<add key="EventLogSourceName" value="GrinGlobal.Web" />
    <add key="OFF_LogFile" value="~/uploads/logs/GrinGlobal.cs" />-->
    <add key="EventLogSourceName" value="GRIN-Global"/>
    <add key="LogFile" value="~/uploads/logs/GrinGlobal.log"/>
    <add key="DisableSecurity" value="false"/>
    <add key="DisableNotifications" value="false"/>
    <add key="DisableCacheManager" value="false"/>
    <add key="DisableFriendlyErrors" value="false"/>
    <add key="EnableAdminViaWeb" value="true"/>
    <add key="OFF_HttpLogFile" value="~/uploads/logs/http.cs"/>
    <add key="AnonymousUserName" value="guest"/>
    <add key="AnonymousPassword" value="gdy31mOjsgl8ksO6WC653Y6ACWY="/>
    <add key="GoogleMapsAPIKey" value="ABQIAAAAngylyFxj48PWxqWPxITz0BRKyl0hIHbKMHiOnzfhSrokY-zWtxSMcol_0jdfVg5XN-kTOSRanC-uhw"/>
    <add key="smtpServer" value="your-email-server-name"/>
    <add key="smtpPort" value="25"/>
    <add key="smtpAccount" value=""/>
    <add key="smtpPassword" value=""/>
    <add key="EmailFrom" value="your-email-from-address"/>
    <add key="AllowCookies" value="true"/>
    <add key="EmailHelpTo" value="your-help-desk-email-address"/>
    <add key="GeneBankName" value="GRIN-Global Release 1.10.6"/>
    <add key="DefaultWebTheme" value="theme1"/>
    <add key="SafeImagePath" value="http://www.ars-grin.gov;http://www.grin.gov"/>
    <add key="UnSafeFileExtension" value="exe;zip;asp;aspx;js;htm;html;shtml"/>
    <add key="DefaultDownloadURL" value="https://distribution.grin-global.org/gringlobal/gui.asmx"/>
    <add key="WebHelpURL" value="https://www.ars-grin.gov/npgs/gringlobal/HTML5/"/>
    <add key="WikiURL" value="​https://www.ars-grin.gov/npgs/gringlobal/sb/home.html"/>
    <add key="EmailOrderTo" value=""/>
    <!--<add key="HomePage" value ="~/search.aspx"/>-->
    <add key="HomePage" value="https://www.ars-grin.gov/npgs/index.html"/>
    <add key="MakeReportsExternal" value="false"/>
    <add key="PasswordExpireDays" value="0"/>
    <add key="RequireStrongPassword" value="true"/>
    <add key="PasswordCharacterPatten1" value="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*(_|[^\w])).+$"/>
    <add key="PasswordMinLength" value="8"/>
    <add key="PasswordMaxLength" value="256"/>
    <add key="CartExpirationDays" value="3650"/>
    <add key="SessionExpireRegular" value="60"/>
    <add key="SessionExpireLong" value="7200"/>
    <add key="PasswordMaxLoginFailures" value="5"/>
    <add key="AppendContactSubject" value="name"/>
    <add key="WebServerURL" value=""/>
    <add key="StringPassword" value="*YourStringPassword123!!*"/>
    <add key="SystemAdminAccountName" value="administrator"/>
    <add key="RequireCategory" value="false"/>
    <!-- CT password handling -->
    <add key="SysChangePasswordRequiresSSL" value="false"/>
    <!-- <add key="EncryptionPassword" value="CustomizeThisForSecurity" /> -->
    <!-- <add key="SysUserLdapDomain" value="OU=ARS,OU=Agencies,DC=usda,DC=net" /> -->
    <!-- <add key="SysUserLdapIgnoreSuffix" value="@ars.usda.gov" /> -->
    <add key="SysUserPasswordMinLength" value="12"/>
    <add key="SysUserPasswordMaxLength" value="255"/>
    <add key="SysUserPasswordMaximumAge" value="60"/>
    <add key="SysUserPasswordMinimumAge" value="1"/>
    <add key="SysUserPasswordWarning" value="14"/>
    <add key="SysUserPasswordExpireLock" value="30"/>
    <add key="SysUserPasswordMinDiffs" value="3"/>
    <add key="SysUserPasswordHistory" value="24"/>
    <add key="SysUserPasswordReqDigit" value="\p{Nd}"/>
    <add key="SysUserPasswordReqPatt1Ccnt" value="1"/>
    <add key="SysUserPasswordReqLower" value="\p{Ll}"/>
    <add key="SysUserPasswordReqPatt2Ccnt" value="1"/>
    <add key="SysUserPasswordReqUpper" value="\p{Lu}"/>
    <add key="SysUserPasswordReqPatt3Ccnt" value="1"/>
    <add key="SysUserPasswordReqSpecial" value="[\p{S}\p{P}\p{Z}\p{C}]"/>
    <add key="SysUserPasswordReqPatt4Ccnt" value="1"/>
    <add key="SysUserPasswordSaltBytes" value="6"/>
    <add key="SysUserMaxLoginFailures" value="5"/>
    <add key="SysUserLoginFailPeriod" value="900"/>
    <add key="SysUserLoginLockPeriod" value="900"/>
    <add key="SearchEngineFormattedTextPattern" value="^\s*@\w+\.\w+\s*(?:&lt;&gt;|&lt;=|&gt;=|!=|=|&lt;|&gt;)\s*(?:[-+]?[0-9]*\.?[0-9]+|'([^\f\n\r\v']|'')+')\s*|^\s*@\w+\.\w+\s+(?:not\s+|NOT\s+)*(?:in|IN)\s*\((?:\s*(?:\d+|'([^\f\n\r\v']|'')+')\s*[,|\)])*|^\s*@\w+\.\w+\s+(?:not\s+|NOT\s+)*(?:like|LIKE)\s+'([^\f\n\r\v']|'')+'\s*|^\s*@\w+\.\w+\s+(?:is|IS)\s+(?:not\s+|NOT\s+)*(?:null|NULL)\s*"/>
    <add key="aspnet:MaxHttpCollectionKeys" value="5000"/>
  </appSettings>

  <connectionStrings>
    <add name="DataManager" providerName="sqlserver" connectionString="Data Source=localhost\sqlexpress;Database=gringlobal;User Id=gg_user;password=gguPA55w0rd!!11"/>
  </connectionStrings>
  
  <system.web>
    <webServices>
      <protocols>
        <!--<add name="AnyHttpSoap"/>-->
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime targetFramework="4.6.2"/>

    <!--<httpRuntime maxRequestLength="102400" executionTimeout="1200"/>-->
  </system.web>
  
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="default">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="GrinGlobal.WCFService.WCFService" behaviorConfiguration="default">
        <endpoint address="" binding="webHttpBinding" contract="GrinGlobal.WCFService.IWCFService" behaviorConfiguration="web">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
      </service>
    </services>
    
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
      <add binding="basicHttpBinding" scheme="http"/>
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <handlers>
      <remove name=".svc"/>
      <add name=".svc" verb="*" path="*.svc" type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>

</configuration>
